##
# Host Database
#
# localhost is used to configure the loopback interface
# when the system is booting.  Do not change this entry.
##
127.0.0.1       localhost
255.255.255.255 broadcasthost
::1             localhost 
fe80::1%lo0     localhost
192.168.235.128 cobbler infrastructure infrastructure1
192.168.235.129 xen
192.168.10.105 xen2 ino
184.72.35.110 infrastructure2.peoplemerge.com infrastructure2
192.168.10.107  heracles
$dynamichosts